<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date Added</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of itemsArray">
      <td>
        {{ item.name }}
      </td>
      <td>{{ item.date_created | date:'fullDate' }}</td>
      <td>
        <button class="btn edit_delete_btn" [matMenuTriggerFor]="nameEdit"><span class="glyphicon glyphicon-edit"></span></button> &nbsp;
        <mat-menu #nameEdit="matMenu">

          <input *ngIf="item.done == true" id="done_checkbox_{{ item.id }}" class="form-check-input" type="checkbox" checked style="margin-left: 1.7vw;" (click)="$event.stopPropagation()">
          <input *ngIf="item.done == false" id="done_checkbox_{{ item.id }}" class="form-check-input" type="checkbox" style="margin-left: 1.7vw;" (click)="$event.stopPropagation()"> Done

          <input id="edit_item_name" (click)="$event.stopPropagation()" class="form-control" placeholder="{{ item.name }}" maxlength="20" [(ngModel)]="edited_name" />
          <div id="edit_validation" style="text-align: center;">
            <span *ngIf="duplicate_name" class="alert alert-danger">Item name already exists</span>
            <span *ngIf="successful_name" class="alert alert-success">Item successfully updated!</span>
          </div>
          <button id="edit_btn_{{ item.id }}" class="btn btn-success edit_submit" (click)="$event.stopPropagation()" (click)="editItem($event)">Edit</button>

        </mat-menu>

        <button class="btn edit_delete_btn" [matMenuTriggerFor]="itemDelete"><span class="glyphicon glyphicon-trash"></span></button>
        <mat-menu #itemDelete="matMenu">
          <button id="delete_btn_{{ item.id }}" class="btn btn-danger delete_btn" (click)="$event.stopPropagation()" (click)="deleteItem($event)">
            Delete this item.
          </button>
        </mat-menu>
      </td>
    </tr>
  </tbody>
</table>
