<h1>{{ bucketlistName | uppercase }}</h1>
<hr>
<div class="row">
  <div class="col-md-7" style="height: 460px; border-style: solid; border-width:0px 2px 0px 0px">

    <md-tab-group md-stretch-tabs [selectedIndex]="0">
      <md-tab >
        <ng-template md-tab-label>
          <span>Pending Items</span>
        </ng-template>
        <app-table [itemsArray]="pendingItems"></app-table>
      </md-tab>
      <md-tab label="Completed Items">
      <app-table [itemsArray]="completedItems"></app-table>
      </md-tab>
    </md-tab-group>

  </div>

<div class="col-md-5" style="height: 460px;">
  <h2 style="text-align:center; text-decoration:underline">Stats</h2>
  <div>
  <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [colors]="pieChartColors"
  width="400" height="330"></canvas>
</div>
</div>


</div>
