<h1>{{ bucketlistName | uppercase }}</h1>
<hr />
<div class="row">
  <div class="col-md-7">

    <mat-tab-group md-stretch-tabs [selectedIndex]="0">
      <mat-tab label="Pending Items">
        <app-table (onUpdate)="refresh()" [bucketlist_id]="itemsBucketlist" [itemsArray]="pendingItems"></app-table>
      </mat-tab>
      <mat-tab label="Completed Items">
      <app-table (onUpdate)="refresh()" [bucketlist_id]="itemsBucketlist" [itemsArray]="completedItems"></app-table>
      </mat-tab>
    </mat-tab-group>

  </div>

<div class="col-md-5" style="height: 460px;">
  <h2 style="text-align:center; text-decoration:underline">Statistics</h2>
  <div>
  <canvas baseChart
              [data]="[ completedItems.length, pendingItems.length ]"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [colors]="pieChartColors"
  width="400" height="300"></canvas>
</div>
</div>
<button class="btn btn-primary" style="margin-top: -2.5vh; margin-left:1.2vw; margin-bottom: 1vh" [matMenuTriggerFor]="newAdd">Add new item</button>

<mat-menu class="new_add_div" #newAdd="matMenu">

  <input id="new_add_name" (click)="$event.stopPropagation()" class="form-control" placeholder="New item..." maxlength="20" [(ngModel)]="new_add" />

  <div id="new_add_validation" style="text-align: center;">
    <span *ngIf="duplicate_name" class="alert alert-danger">This item already exists</span>
    <span *ngIf="successful_name" class="alert alert-success">New item added!</span>
  </div>

  <button id="new_add_submit" class="btn btn-success" (click)="add()" (click)="$event.stopPropagation()">Add</button>

</mat-menu>
</div>
