.col-md-7{
  height: 420px;
  border-style: solid;
  border-width:0px 2px 0px 0px;
  overflow: scroll;
}

.mat-tab-label{

  color: black;
  background-color: lightgrey;
}

canvas{
  opacity: 0.6;
}

h2{
  opacity: 0.9;
}
