#credentials{
  margin-top: 10vh;
}

input{
  margin-bottom: 7vh;
  width: 15vw;
  height: 6vh;
  border: 0px;
  border-radius: 3px;
  font-size: 2.2vh;
  text-align: center;
}

button{
  font-weight: bold;
  background-color: red;
  width: 15vw;
  box-shadow: 2px 0px 3px;

}
