#search_box {
  display: inline;
  margin-left: 10vw;
  width: 22vw;
}

#logout_btn {
  margin-left: 4vw;
}

nav {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#new_add_btn {
  margin-left: 6vw;
}

.mat-menu-panel, .mat-menu-content {
  background-color: white;
  border-radius: 6px;
  width: 270px;
}

#new_add_name {
  margin-left: 1.7vw;
  margin-top: 0.4vw;
  width: 220px;
}

#new_add_submit {
  margin-top: 0.1vw;
  margin-left: 7.9vw;
  margin-bottom: 0.4vw;
}

#new_add_validation {
  font-size: 1.5vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  opacity: 0.8;
}

#greeting_span {
  font-size: 2.2vh;
  margin-left: 8vw;
}

.col-md-12 {
  opacity: 0.6;
  background-color: white;
  height: 80vh;
  box-shadow: -2px -2px 3px;
}

h1 {
  text-align: center;
  font-family: Helvetica;
  font-size: 7vh;
}

.hidden {
  display: none;
}

#bucketlists{
  opacity: 0;
}
