<nav class="navbar navbar-default">
  <span id="greeting_span">Welcome username!</span>
  <button id="logout_btn" class="btn btn-danger navbar-btn">
  Logout
  </button>
</nav>
<div class="row">
  <div class="col-md-12">

    <div id="bucketlists" (@fader.done)="showItems($event)" [@fader]="loadBucketlists" [ngClass]="{'hidden':hideBucketlists}">
      <app-bucketlist (onClickItem)="toggleLoadItems($event)"></app-bucketlist>
    </div>

  <div id="items" (@fader.done)="showBucketlists($event)" [@fader]="loadItems" [ngClass]="{'hidden':hideItems}">
    <app-items [bucketlist_id]="requested_bucketlist"></app-items>
  </div>
  </div>
</div>
