<nav class="navbar navbar-default">
  <button id="new_bcktlst_btn" class="btn btn-info navbar-btn">
    Add new bucketlist
    <b style="margin-left: 1vh;" class="caret"></b>
  </button>

  <input (keyup)="search($event)" id="search_box" type="text" class="form-control" placeholder="Look for bucketlist.." />

  <span id="greeting_span">Welcome username!</span>

  <button id="logout_btn" class="btn btn-danger navbar-btn">
  Logout
  </button>

</nav>

<div id="new_bcktlst_div" hidden="true">
  <input id="new_bcktlst_name" class="form-control" placeholder="Bucketlist Name..." maxlength="20" [(ngModel)]="new_bucketlist" />

  <div id="bucketlist_validation" style="text-align: center;">
    <span *ngIf="missing_bcktlst_name" class="alert alert-danger">New Bucketlist Name Missing</span>
    <span *ngIf="duplicate_bcktlst_name" class="alert alert-danger">Bucketlist Name Already Exists</span>
    <span *ngIf="successful_bcktlst_add" class="alert alert-success">New Bucketlist Added!</span>
  </div>

  <button id="new_bcktlst_submit" class="btn btn-success" (click)="add()">Add</button>

</div>

<div class="row">
  <div class="col-md-12">
    <h1>Bucketlists</h1>
    <hr>
    <div id="bucketlists"  (@fader.done)="showItems($event)" [@fader]="loadBucketlists" [ngClass]="{'hidden':hideBucketlists}">

      <div *ngIf="bucketlists && bucketlists.length == 0">
        <h2 style="text-align:center; color: red; margin-top:15vh">
        There is nothing here!
      </h2>
      </div>

      <div *ngIf="bucketlists && bucketlists.length > 0">

        <div class="bucketlists" *ngFor="let bucketlist of bucketlists" [@fader]="loadBucketlists">

          <app-bucketlist [bucketlist]="bucketlist" (onClickItem)="toggleLoadItems()"></app-bucketlist>

        </div>

      </div>

      <button *ngIf="response.has_prev" id="prev_btn" class="btn" (click)="prev()">
      Prev
    </button>

      <button *ngIf="response.has_next" id="next_btn" class="btn" (click)="next()">
      Next
    </button>
    </div>

    <div id="items" (@fader.done)="showBucketlists($event)" [@fader]="loadItems" [ngClass]="{'hidden':hideItems}">
      <app-items ></app-items>
    </div>

  </div>
</div>
