#logout_btn {
  margin-left: 24vw;
}

nav {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#greeting_span {
  font-size: 2.2vh;
  margin-left: 25vw;
}

.col-md-12 {
  background-color: rgba(255,255,255, 0.6);
  height: 80vh;
  box-shadow: -2px -2px 3px;
}

.hidden {
  display: none;
}

#bucketlists{
  opacity: 0;
}
