<h1>Bucketlists</h1>
<hr>
<button id="new_add_btn" class="btn " [mdMenuTriggerFor]="newAdd" style="opacity:1;">
  Add new bucketlist
</button>

<md-menu class="new_add_div" #newAdd="mdMenu">

  <input id="new_add_name" (click)="$event.stopPropagation()" class="form-control" placeholder="New bucketlist..." maxlength="20" [(ngModel)]="new_add" />

  <div id="new_add_validation" style="text-align: center;">
    <span *ngIf="duplicate_name" class="alert alert-danger">This bucketlist already exists</span>
    <span *ngIf="successful_name" class="alert alert-success">New bucketlist added!</span>
  </div>

  <button id="new_add_submit" class="btn btn-success" (click)="add($event)" (click)="$event.stopPropagation()">Add</button>

</md-menu>

<input (keyup)="search($event)" id="search_box" type="text" class="form-control" placeholder="Look for bucketlist.." [(ngModel)]="q"/>


<div *ngIf="bucketlists && bucketlists.length == 0">
  <h2 style="text-align:center; color: grey; margin-top:15vh">
  There is nothing here!
  </h2>
</div>
<div *ngIf="bucketlists && bucketlists.length > 0">
  <div class="bucketlists" *ngFor="let bucketlist of bucketlists" [@fader]="fade">

    <div class="bucketlist" id="bucketlist_{{ bucketlist.id }}">
      <div id="bucketlist_name">
        <h2>{{ bucketlist.name | uppercase }}</h2>
      </div>

      <div class="creation_date">
        <h4>Created: {{ bucketlist.date_created  | date:longDate }}</h4>
      </div>

      <div>
        <button id="item_btn_{{ bucketlist.id }}" class="item_btn" (click)="getItems($event)">
          Items
          <span class="badge label_span">{{ bucketlist.items }}</span>
        </button>
      </div>

      <div class="modified_date">
        <h4>Last modified: {{ bucketlist.date_modified | date:longDate }}</h4>
      </div>

      <button class="btn btn-warning edit_del_btn" style="margin-top:0.2vw;" [mdMenuTriggerFor]="nameEdit">
        <span class="glyphicon glyphicon-edit"></span>
      </button>
      <md-menu #nameEdit="mdMenu">
        <input id="edit_bcktlst_name" (click)="$event.stopPropagation()" class="form-control" placeholder="{{ bucketlist.name }}" maxlength="20"  [(ngModel)]="edited_name"/>

        <div id="edit_validation" style="text-align: center;">
          <span *ngIf="duplicate_name" class="alert alert-danger">Bucketlist name already exists</span>
          <span *ngIf="successful_name" class="alert alert-success">Bucketlist successfully updated!</span>
        </div>

        <button id="edit_btn_{{ bucketlist.id }}" class="btn btn-success edit_submit" (click)="$event.stopPropagation()" (click)="editBucketlist($event)">Edit</button>
      </md-menu>

      <button  class="btn btn-danger edit_del_btn" style="margin-top:0.2vw" [mdMenuTriggerFor]="bucketlistDelete">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
      <md-menu #bucketlistDelete="mdMenu">

        <button id="delete_btn_{{ bucketlist.id }}" class="btn btn-danger delete_btn" (click)="$event.stopPropagation()" (click)="deleteBucketlist($event)">
          Delete this bucketlist
        </button>
      </md-menu>

    </div>

  </div>
</div>
<button *ngIf="response.has_prev" id="prev_btn" class="btn pagination_btn" (click)="prev()">
      Prev
</button>

<button *ngIf="response.has_next" id="next_btn" class="btn pagination_btn" (click)="next()">
      Next
</button>
