<div class="bucketlist" id="bucketlist_{{ bucketlist.id }}">

<div>
  <h2>{{ bucketlist.name | uppercase }}</h2>
</div>

<div class="creation_date">
  <h4>Created: {{ bucketlist.date_created  | date:longDate }}</h4>
</div>

<div id="edit_delete_btn_{{ bucketlist.id }}" hidden="true">
  <button class="btn btn-warning"style="margin-top:0.2vw;">
    <span class="glyphicon glyphicon-edit"></span>
  </button>
  <button class="btn btn-danger" style="margin-top:0.2vw">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
</div>

<div>
  <button class="item_btn">
    Items
    <span class="badge label_span">{{ bucketlist.items }}</span>
  </button>

</div>

<div class="modified_date">

  <h4>Last modified: {{ bucketlist.date_modified | date:longDate }}</h4>
</div>

</div>
