#bucketlist_name{
  height: 3vh;
}
.creation_date{
  margin-top: 10vh;
  margin-left: 0.5vw;
}

.modified_date{
  margin-top: 5vh;
  margin-left: 0.3vw;
}

.item_btn{
  margin-top: 5vh;
  width:10vw;
  height:4vh;
  font-size: 2.3vh;
  color: black;
  text-align: justify;
  font-weight: bold;
  border-radius: 3px;
  border-width: thin;
}

.label_span{
  margin-top: -0.7vh;
  font-size: 1.8vh;
  margin-left: 3.0vw;
}

.btn{
  border-width: 0px;
  margin-bottom: -5vw;
  background-color: black;
  margin-left: 0vh;
  width: 6vw;
  border-radius: 0px;
  opacity: 0.5;
}
