<div class="row">
  <div class="col-md-12">
    <h1>BUCKETLISTS</h1>
  </div>
</div>

<div class="row">
  <div id="sign" class="col-md-3 col-md-push-3">

    <button *ngIf="show_signup_btn" (click)="joinForm()" class="btn" style="background-image: url('/assets/images/signup.png')"></button>

    <app-auth *ngIf="show_signup_form" [btn_actn]="btn_actn"></app-auth>

  </div>

  <div id="login" class="col-md-3 col-md-push-3">

    <button *ngIf="show_login_btn" (click)="loginForm()" class="btn" style="background-image: url('/assets/images/login.png')"></button>

    <app-auth *ngIf="show_login_form" [btn_actn]="btn_actn"></app-auth>

  </div>

</div>
